<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ "TOOLBAR" | translate }} {{ pseudo }}</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="onLogout()">
    <mat-icon>power_settings_new</mat-icon>
  </button>
</mat-toolbar>
