<h2 mat-dialog-title>{{ "NEW.TITLE" | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field>
    <mat-label>Pseudonyme</mat-label>
    <input
      type="text"
      placeholder="{{ 'NEW.INPUT' | translate }}"
      matInput
      [matAutocomplete]="auto"
      [formControl]="searchControl"
    />
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
      >
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>{{ "NEW.CANCEL" | translate }}</button>
  <button mat-button cdkFocusInitial color="primary" (click)="onBegin()">
    {{ "NEW.BEGIN" | translate }}
  </button>
</mat-dialog-actions>
