<mat-list>
  <div mat-subheader>
    {{ "HISTORY.CONVERSATIONS" | translate }}
    <span class="spacer"></span>
    <button mat-icon-button (click)="onNewConversation()">
      <mat-icon>add_circle_outline</mat-icon>
    </button>
  </div>
  <mat-action-list>
    <button
      mat-list-item
      *ngFor="let conversation of conversations"
      (click)="onOpenMessage(conversation)"
    >
      <mat-icon
        mat-list-icon
        matBadge="+"
        [matBadgeHidden]="!conversation.newMessage"
        >chat</mat-icon
      >
      <div mat-line>{{ conversation.pseudonyme }}</div>
    </button>
  </mat-action-list>
</mat-list>
