.login {
  &__content {
    background-image: url("https://www.lucca.fr/img/sprite-logo.svg");
    background-repeat: no-repeat;
    background-size: 90%;
    height: 100%;
    background-position: bottom 20px center;
  }
  &__form {
    &__form-control {
      width: 100%;
    }
  }
}
