<form [formGroup]="loginForm" (submit)="onSubmit()">
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>{{ "LOGIN.TITLE" | translate }}</mat-card-title>
      <mat-card-subtitle>{{ "LOGIN.SUBTITLE" | translate }} </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-around center">
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field class="login__form__form-control">
            <mat-label>{{ "LOGIN.INPUT" | translate }} </mat-label>
            <input matInput formControlName="pseudo" required />

            <mat-error *ngIf="getControl('pseudo').hasError('required')">
              A pseudo is required
            </mat-error>
          </mat-form-field>
          <button
            mat-icon-button
            matTooltip="{{ 'LOGIN.RANDOM' | translate }}"
            (click)="onRandomPseudo()"
            type="button"
          >
            <mat-icon>loop</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-button>{{ "LOGIN.LOGIN" | translate }}</button>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
