.messages {
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  &__body {
    flex-grow: 1;
    overflow: auto;
    min-height: 2em;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__footer {
    flex-shrink: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  &__message {
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  &__footer {
    padding-left: 15px;
    padding-right: 15px;
  }
}
