<div class="messages__container" (keyup.enter)="onSendMessage()">
  <div
    class="messages__body"
    fxLayout="column-reverse"
    #scrollMe
    [scrollTop]="scrollMe.scrollHeight"
  >
    <div
      fxLayout="row"
      [fxLayoutAlign]="
        pseudo === message.sender ? 'end center' : 'start center'
      "
      *ngFor="let message of messages | reverse"
    >
      <mat-card class="messages__message message_own">
        <mat-card-content>
          <p>{{ decrypt(message.text) }}</p>
        </mat-card-content>
        <mat-card-footer
          fxLayout="row"
          fxLayoutAlign="end center"
          class="messages__footer"
        >
          <small>
            {{ "MESSAGE.SEND" | translate }}<b> {{ message.sender }} </b>
            {{ "MESSAGE.ON" | translate }}
            <i>{{ formatDate(message.date) }} </i>
          </small></mat-card-footer
        ></mat-card
      >
    </div>
  </div>
  <div class="messages__footer">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline">
        <input
          matInput
          placeholder="Message"
          [(ngModel)]="message"
          [disabled]="messages == null"
          autocomplete="off"
        />

        <button
          mat-icon-button
          matSuffix
          [disabled]="messages == null"
          (click)="onSendMessage()"
        >
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</div>
