.home {
  &__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__sidenav-container {
    flex: 1;
    margin-top: 40px;
  }
  &__side {
    width: 250px;
  }
}
