<div class="home__container">
  <app-toolbar
    [sidenav]="sidenav"
    [pseudo]="pseudo$ | async"
    (logoutEvent)="onLogout()"
  ></app-toolbar>

  <mat-sidenav-container class="home__sidenav-container">
    <mat-sidenav
      #sidenav
      opened
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      position="start"
      class="home__side"
    >
      <app-history
        [conversations]="conversations$ | async"
        (newConversationEvent)="onNewConversation($event)"
        (selectConversationEvent)="onSelectConversation($event)"
      ></app-history>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-messages
        [messages]="messages$ | async"
        (sendMessageEvent)="onSendMessage($event)"
        [pseudo]="pseudo$ | async"
        [conversation]="conversation$ | async"
      ></app-messages>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
